.login-btns {
  display: flex;
  margin-right: 10px;
}
button.btn.btn-primary {
  margin-right: 20px;
}
.content-header h1 {
  color: transparent;
}
.products-list .product-description {
  white-space: unset;
}

.wrapper {
  background: #f4f6f9;
}
.content {
  margin-top: 50px;
}

.btn-review {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn-review.on {
  color: #000;
}
.btn-review.off {
  color: #ccc;
}

.search.form-group {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

