.business-wrapper {
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: column;
  margin-top: 80px;
}
.business-container {
  display: flex;
}
.business-features-placeholder {
  width: 25%;
  background: snow;
  border-right: 10px solid #f4f6f9;
  padding: 10px;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}
.filtered-businesses {
  width: 75%;
  /* box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%); */
}
.card-body.filtered {
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.card-body.filtered:last-child {
  border: 0;
}
/* ----- */
.card {
  width: 75%;
}
.card-header {
  padding: 12px 12px 20px 0px;
}
.bus-details--image {
  display: flex;
  overflow: hidden;
  /* margin: 20px; */
}
.image--container {
  /* margin-right: 20px; */
  display: flex;
  flex-direction: column;
}
/* ----- */
.indie-card {
  display: flex;
  overflow: hidden;
  margin: 20px;
}
.pic-star-container {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.bus-details--rating {
  display: flex;
  margin-top: 5px;
  justify-content: space-around;
}
h5 {
  width: 100%;
  padding: 10px;
  text-align: center;
  background: white;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}

.hidden-phone {
  visibility: hidden;
}
.visible-phone {
  visibility: visible;
  margin-top: 20px;
  margin-bottom: 22px;
}
.phone {
  margin-top: 30px;
  margin-bottom: 8px;
}

.map {
  height: 100px;
  margin-top: 20px;
}

.large-map {
  margin-top: 30px;
}
.card-body {
  background: white;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}
